.card {
    background-color: var(--white-900);
    color: var(--black-900);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem; 
  }

  .total {
    background: var(--green-900);
    color: var(--white-900);
  }
    
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .strong {
      display: block;
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3rem;
      } 

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }