:root {
  --background: #e5e5e5;
  --title: #363f5f;
  --text: #969cb2;
  --overlay: #0d0d0dc1;
  --box-shadow: #0f0f0f89;
  --white-900: #ffffff;
  --grey-900: #dddddd;
  --white-800: #fafafa;
  --grey-300:#555555;
  --grey-600: #adadad;
  --black-900: #000000;
  --blue-900: #602eec;
  --blue-800: #5429cc;
  --green-900: #33cc95;
  --red-900: #e52e4d;
  --purple-800: #ba57e750;
  --purple-500: #591d9128;
}

body {
  font-family: 'Poppins', sans-serif;

  padding: 0;
  margin: 0;

  background-color: var(--background);
  color: var(--text);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title);
  }
}
