* {
    margin: 0;
    padding: 0;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(92, 92, 92, 0.342);

    .modal-box {
        position: relative;
        box-sizing: border-box;
        background-color: #fafafa;
        border-radius: 4px;

        margin: 0 auto;
        padding: 3rem;

        h2 {
            margin-bottom: 2rem;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            margin: 2rem;
            cursor: pointer;
        }
    }
    
    input {
        display: block;
        margin: 0.5rem auto;
        padding: 1rem;

        width: 25rem;
        height: 1rem;

        border: 1px solid #dddddd;
        border-radius: 4px;
        background-color: #ececec;

        font-family: 'Poppins';
    }

    .transaction-type{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        button {
            width: 50%;
            padding: 0.7rem 1rem;

            border: 1px #dddddd solid;
            border-radius: 4px;
            background: #fafafa;

            color: #555555;
            font-weight: 500;
            font-family: 'Poppins';
        }
    }

    button {
        width: 100%;
        padding: 1rem 1rem;
        color: white;
        background: var(--green);
        border: none;
        border-radius: 4px;
        font-family: 'Poppins';
        font-weight: 500;
    }
}
